<h1>This app supports the following operations:</h1>
<p class="lead">There are two modes you can choose from.</p>
<p class="lead">Practice mode allows you to focus on an individual area that you want to train in and get as many tries as you like.</p>
<p class="lead">Test mode offers a comprehensive experience with all three kinds of practices integrated, a score will be given at the end of the test so you can assess your skills.</p>
<hr>
<h4>Practices</h4>
<div class="row">
  <div class="col-md-4">
    <a href="/pitch" role="button" class="btn btn-lg btn-info btn-custom">Pitch</a>
  </div>
  
  <div class="col-md-4">        
    <a href="/interval" role="button" class="btn btn-lg btn-info btn-custom">Interval</a>
  </div>
  
  <div class="col-md-4">
    <a href="/chord" role="button" class="btn btn-lg btn-info btn-custom">Chord</a>
  </div>
</div>
<hr>
<h4>Test</h4>
<div class="row">
  <div class="col-md-12">
    <a href="/test" role="button" class="btn btn-lg btn-info btn-custom">Test</a>    
  </div>
</div>
