{{!-- <h1>This app supports the following operations:</h1>

<p class="lead">There are two modes.</p> --}}
<div class="container" style="margin-top: 5em;">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-5">
            <h2>Practice Mode</h2>
            <p>Practice mode allows you to focus on an individual area. Get as many tries as you like in practice mode. You can use practice mode without signing in, but signing in gives you tracked records.</p>
            <p><a class="btn btn-info btn-custom" href="/practices" role="button">Enter &raquo;</a></p>
          </div>
          <div class="col-md-5 offset-md-2">
            <h2>Test Mode</h2>
            <p>Test mode offers a comprehensive experience with all three kinds of practices integrated randomly, with a fixed number of test questions. In the end, a score will be given which indicates your level of overall abilities.</p>
            <p><a class="btn btn-info btn-custom" href="/test" role="button">Enter &raquo;</a></p>
          </div>
        </div>
      </div> <!-- /container -->

{{!-- <ul>
  <li>Practice mode allows you to focus on an individual area.</li>
  <li>Get as many tries as you like in practice mode</li>
  <li>You can use practice mode without signing in, but signing in gives you tracked records.</li>
</ul>
<p class="lead">Practice mode allows you to focus on an individual area that you want to train in and get as many tries as you like.</p>
<p class="lead">Test mode offers a comprehensive experience with all three kinds of practices integrated randomly, with a fixed number of test questions. In the end, a score will be given which indicates your level of overall abilities.</p> --}}
{{!-- <h4>Practices</h4>
<div class="row">
  <div class="col-md-4">
    <a href="/pitch" role="button" class="btn btn-lg btn-info btn-custom">Pitch</a>
  </div>
  
  <div class="col-md-4">        
    <a href="/interval" role="button" class="btn btn-lg btn-info btn-custom">Interval</a>
  </div>
  
  <div class="col-md-4">
    <a href="/chord" role="button" class="btn btn-lg btn-info btn-custom">Chord</a>
  </div>
</div>
<hr>
<h4>Test</h4>
<div class="row">
  <div class="col-md-12">
    <a href="/test" role="button" class="btn btn-lg btn-info btn-custom">Test</a>    
  </div>
</div> --}}
