<main role="main" class="container">
<div class="starter-template">
<h1>This app supports the following operations:</h1>
<p>There are two modes you can choose from.</p>
<p>Practice mode allows you to focus on an individual area that you want to train in and get as many tries as you like.</p>
<p>Test mode offers a stream-lined experience with all three kinds of practices integrated, a score will be given at the end of the test so you can assess your skills.</p>
<hr>
<h4>Practices</h4>
<div class="row">
  <div class="col-md-4">
    <a href="/pitch" role="button" class="btn btn-lg btn-default">Pitch</a>
  </div>
  <div class="col-md-4">        
    <a href="/interval" role="button" class="btn btn-lg btn-default">Interval</a>
  </div>
  <div class="col-md-4">
    <a href="/chord" role="button" class="btn btn-lg btn-default">Chord</a>
  </div>
</div>
<hr>
<h4>Test</h4>
<div class="row">
  <div class="col-md-12">
    <a href="/test" role="button" class="btn btn-lg btn-default">Test</a>    
  </div>
</div>
</div>
</main>
