<div class="row">
    <div class="col-md-12">
    <button class="btn btn-outline-info btn-outline-custom" type="button" id="playAgain" onclick="playAgain()" disabled>Play Again</button>
    </div>
</div>
<p></p>
<div class="text-center">
    <button class="btn btn-lg btn-info btn-custom" type="button" id="playInterval" onclick="playInterval()">Play a random interval</button>
</div>
</br>
</br>
</br>
<div class="narrow-page">
<div class="card">
<div class="card-body">
<div class="row">
    <div class="col-md-12">
        <button name="answer" value="4" class="answer btn btn-info btn-custom">Unison</button>
    </div>
</div>
<br>
<div class="row">
<div class="col-md-6">
<button name="answer" value="5" class="answer btn btn-info btn-custom">Minor 2nd</button>
</div>
<div class="col-md-6">
<button name="answer" value="6" class="answer btn btn-info btn-custom">Major 2nd</button>
</div>
</div>
<br>
<div class="row">
<div class="col-md-6">
<button name="answer" value="7" class="answer btn btn-info btn-custom">Minor 3rd</button>
</div>
<div class="col-md-6">
<button name="answer" value="8" class="answer btn btn-info btn-custom">Major 3rd</button>
</div>
</div>
<br>
<div class="row">
<div class="col-md-6">
<button name="answer" value="9" class="answer btn btn-info btn-custom">Perfect 4th</button>
</div>
<div class="col-md-6">
<button name="answer" value="10" class="answer btn btn-info btn-custom">Aug 4th</button>
</div>
</div>
<br>
<div class="row">
<div class="col-md-12">
<button name="answer" value="11" class="answer btn btn-info btn-custom">Perfect 5th</button>
</div>
</div>
<br>
<div class="row">
<div class="col-md-6">
<button name="answer" value="0" class="answer btn btn-info btn-custom">Aug 5th/Minor 6th</button>
</div>
<div class="col-md-6">
<button name="answer" value="1" class="answer btn btn-info btn-custom">Major 6th</button>
</div>
</div>
<br>
<div class="row">
<div class="col-md-6">
<button name="answer" value="2" class="answer btn btn-info btn-custom">Minor 7th</button>
</div> 
<div class="col-md-6">
<button name="answer" value="3" class="answer btn btn-info btn-custom">Major 7th</button>
</div>
</div>
<br>
<div class="row">
<div class="col-md-12">
<button name="answer" value="13" class="answer btn btn-info btn-custom">Octave</button>
</div>
</div>
</div>
</div>
</div>
    <input id="correctAnswer" type="hidden" name="correctAnswer" class="correctAnswer" />
<br><br><br>
<div class="row">
    <div class="col-md-12 text-center lead">
<div id="form-messages"></div>
</div>
</div>