<div class="jumbotron">
    <div class="media-only rotate">
        <i class="fas fa-mobile"></i> Rotate your phone to get full view. </div>
    <div class="row">
        <div class="col-md-3 offset-md-3">
            <div id="scoreOutput">&nbsp;</div>
        </div>
        <div class="col-md-3">
            <div id="scorePercent">&nbsp;</div>
        </div>
    </div>
    <br>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="playSimultaneously" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            One Note at a Time
        </button>
        <div class="dropdown-menu" aria-labelledby="playSilmultaneously">
            <a class="dropdown-item" href="#" id="simultaneous">Simultaneous</a>
            <a class="dropdown-item" href="#" id="oneNoteAtATime">One Note at a Time</a>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-md-4">
            <button class="btn btn-outline-into btn-sm btn-outline-custom" type="button" id="relative" onclick="playRelativeNote()">Play Tonal C</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-lg btn-info btn-custom big-scr-only" type="button" id="playInterval" onclick="playInterval()"><i class="fas fa-headphones-alt"></i>&nbsp;&nbsp;Play a random interval</button>
            <button class="btn btn-lg btn-info btn-custom media-only" type="button" id="playInterval" onclick="playInterval()">
                <i class="fas fa-play"></i>
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-outline-info btn-sm btn-outline-custom" type="button" id="playAgain" onclick="playIntervalAgain()"><i class="fas fa-undo"></i>&nbsp;&nbsp;Play Again</button>
        </div>
    </div>
    </br>
    <div class="narrow-page">
        <div class="card">
            <div class="card-body">
                <div class="media-only">
                    <button name="answer" value="0" class="intervalAnswer btn btn-info btn-sm btn-custom" id="unison">Unison</button>
                    <button name="answer" value="12" class="intervalAnswer btn btn-info btn-sm btn-custom" id="octave">Octave</button>
                    <button name="answer" value="1" class="intervalAnswer btn btn-info btn-sm btn-custom" id="min2">Min2</button>
                    <button name="answer" value="2" class="intervalAnswer btn btn-info btn-sm btn-custom " id="maj2">Maj2</button>
                    <button name="answer" value="3" class="intervalAnswer btn btn-info btn-sm btn-custom " id="min3">Min3</button>
                    <button name="answer" value="4" class="intervalAnswer btn btn-info btn-sm btn-custom " id="maj3">Maj3</button>
                    <button name="answer" value="5" class="intervalAnswer btn btn-info btn-sm btn-custom " id="perf4">Perf4</button>
                    <button name="answer" value="6" class="intervalAnswer btn btn-info btn-sm btn-custom " id="flat5">Flat5</button>
                    <button name="answer" value="7" class="intervalAnswer btn btn-info btn-sm btn-custom " id="perf5">Perf5</button>
                    <button name="answer" value="8" class="intervalAnswer btn btn-info btn-sm btn-custom " id="min6">Min6</button>
                    <button name="answer" value="9" class="intervalAnswer btn btn-info btn-sm btn-custom " id="maj6">Maj6</button>
                    <button name="answer" value="10" class="intervalAnswer btn btn-info btn-sm btn-custom " id="min7">Min7</button>
                    <button name="answer" value="11" class="intervalAnswer btn btn-info btn-sm btn-custom " id="maj7">Maj7</button>
                </div>
                <div class="row big-scr-only">
                    <div class="col-md-3">
                        <button name="answer" value="0" class="intervalAnswer btn btn-info btn-sm btn-custom" id="unison">Unison</button>
                    </div>
                    <div class="col-md-3">
                        <button name="answer" value="12" class="intervalAnswer btn btn-info btn-sm btn-custom" id="octave">Octave</button>
                    </div>
                    <div class="col-md-3">
                        <button name="answer" value="1" class="intervalAnswer btn btn-info btn-sm btn-custom " id="min2">Minor 2nd</button>
                    </div>
                    <div class="col-md-3">
                        <button name="answer" value="2" class="intervalAnswer btn btn-info btn-sm btn-custom " id="maj2">Major 2nd</button>
                    </div>
                </div>
                <br>
                <div class="row big-scr-only">
                    <div class="col-md-2 offset-md-1">
                        <button name="answer" value="3" class="intervalAnswer btn btn-info btn-sm btn-custom " id="min3">Minor 3rd</button>
                    </div>
                    <div class="col-md-2">
                        <button name="answer" value="4" class="intervalAnswer btn btn-info btn-sm btn-custom " id="maj3">Major 3rd</button>
                    </div>
                    <div class="col-md-2">
                        <button name="answer" value="5" class="intervalAnswer btn btn-info btn-sm btn-custom " id="perf4">Perfect 4th</button>
                    </div>
                    <div class="col-md-2">
                        <button name="answer" value="6" class="intervalAnswer btn btn-info btn-sm btn-custom " id="flat5">Flat 5th</button>
                    </div>
                    <div class="col-md-2">
                        <button name="answer" value="7" class="intervalAnswer btn btn-info btn-sm btn-custom " id="perf5">Perfect 5th</button>
                    </div>
                </div>
                <br>
                <div class="row big-scr-only">
                    <div class="col-md-3">
                        <button name="answer" value="8" class="intervalAnswer btn btn-info btn-sm btn-custom " id="min6">Minor 6th</button>
                    </div>
                    <div class="col-md-3">
                        <button name="answer" value="9" class="intervalAnswer btn btn-info btn-sm btn-custom " id="maj6">Major 6th</button>
                    </div>
                    <div class="col-md-3">
                        <button name="answer" value="10" class="intervalAnswer btn btn-info btn-sm btn-custom " id="min7">Minor 7th</button>
                    </div>
                    <div class="col-md-3">
                        <button name="answer" value="11" class="intervalAnswer btn btn-info btn-sm btn-custom " id="maj7">Major 7th</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="firstNote" type="hidden" name="firstNote" class="firstNote" />
    <input id="secondNote" type="hidden" name="secondNote" class="secondNote" />
    <br>
    <div class="row">
        <div class="col-md-12 text-center lead">
            <div id="form-messages"></div>
        </div>
    </div>
    {{#unless session.user}}
    <p><a href="/login">Sign in</a> to record your scores.</p>
    {{/unless}}
</div>