<div class="jumbotron">
    <div class="media-only rotate"><i class="fas fa-mobile"></i> Rotate your phone to get full view. </div>
    <div class="row">
        <div class="col-md-3 offset-md-3"><div id="scoreOutput">&nbsp;</div></div>
        <div class="col-md-3"><div id="scorePercent">&nbsp;</div></div>
    </div>
        <br>
<div class="row big-scr-only">
<div class="col-md-4">
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="displayStyle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        # + b
    </button>
    <div class="dropdown-menu" aria-labelledby="displayStyle">
        <a class="dropdown-item" href="#" id="letterButtons" >#+b</a>
        <a class="dropdown-item" href="#" id="allSharps">all #</a>
        <a class="dropdown-item" href="#" id="allFlats" >all b</a>
        <a class="dropdown-item" href="#" id="dolremiButtons" disabled >dol re mi</a>
    </div>
</div>
</div>
<div class="col-md-4">
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="range" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        One Octave
    </button>
    <div class="dropdown-menu" aria-labelledby="range">
        <a class="dropdown-item" href="#" id="oneOctave" >One Octave</a>
        <a class="dropdown-item" href="#" id="twoOctaves">Two Octaves</a>
    </div>
</div>
</div>
<div class="col-md-4">
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="instrument" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Piano Only
    </button>
    <div class="dropdown-menu" aria-labelledby="instrument">
        <a class="dropdown-item" href="#" id="pianoOnly" >Piano only</a>
        <a class="dropdown-item" href="#" id="multiInstruments">Multi-instrument</a>
    </div>
</div>
<br>
</div>
<br>
</div>
<div class="row">
    <div class="col-md-6">
    <button class="btn btn-outline-info btn-outline-custom" type="button" id="relative" onclick="playRelativeNote()">Play tonal C</button>
    </div>
    <br>
    <div class="col-md-6">
    <button class="btn btn-outline-info btn-outline-custom" type="button" id="playAgain" onclick="playAgain()">Play Again</button>
    </div>
</div>
<p></p>
<div class="text-center">
    <button class="btn btn-lg btn-info btn-custom" type="button" id="play" onclick="playPiano()">Play a random note</button>
</div>
</br>
<button name="answer" value="0" class="answer pitch btn btn-info btn-custom" id="button1">A</button>
<button name="answer" value="1" class="answer pitch btn btn-info btn-custom" id="button2">B<sup>b</sup></button>
<button name="answer" value="2" class="answer btn btn-info btn-custom" id="button3">B</button>
<button name="answer" value="3" class="answer btn btn-info btn-custom" id="button4">C</button>
<button name="answer" value="4" class="answer btn btn-info btn-custom" id="button5">C<sup>#</sup></button>
<button name="answer" value="5" class="answer btn btn-info btn-custom" id="button6">D</button>
<button name="answer" value="6" class="answer btn btn-info btn-custom" id="button7">E<sup>b</sup></button>
<button name="answer" value="7" class="answer btn btn-info btn-custom" id="button8">E</button>
<button name="answer" value="8" class="answer btn btn-info btn-custom" id="button9">F</button>
<button name="answer" value="9" class="answer btn btn-info btn-custom" id="button10">F<sup>#</sup></button>
<button name="answer" value="10" class="answer btn btn-info btn-custom" id="button11">G</button>
<button name="answer" value="11" class="answer btn btn-info btn-custom" id="button12">G<sup>#</sup></button>

    <input id="correctAnswer" type="hidden" name="correctAnswer" class="correctAnswer" />
    <input id="score" type="hidden" name="score" class="score" />
    <input id="tries" type="hidden" name="tries" class="tries" />
<br><br><br>
<div class="row">
<div class="col-md-12 text-center lead">
    <div id="form-messages"></div>
</div>
</div>
{{#unless session.user}}
<p><a href="/login">Sign in</a> to record your performance.</p>
{{/unless}}
<div class="row media-only">
<div class="pitch-options">
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="displayStyle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        # + b
    </button>
    <div class="dropdown-menu" aria-labelledby="displayStyle">
        <a class="dropdown-item" href="#" id="letterButtons" >#+b</a>
        <a class="dropdown-item" href="#" id="allSharps">all #</a>
        <a class="dropdown-item" href="#" id="allFlats" >all b</a>
        <a class="dropdown-item" href="#" id="dolremiButtons" disabled >dol re mi</a>
    </div>
</div>
</div>
<div class="pitch-options">
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="range" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        One Octave
    </button>
    <div class="dropdown-menu" aria-labelledby="range">
        <a class="dropdown-item" href="#" id="oneOctave" >One Octave</a>
        <a class="dropdown-item" href="#" id="twoOctaves">Two Octaves</a>
    </div>
</div>
</div>
<div class="pitch-options">
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="instrument" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Piano Only
    </button>
    <div class="dropdown-menu" aria-labelledby="instrument">
        <a class="dropdown-item" href="#" id="pianoOnly" >Piano only</a>
        <a class="dropdown-item" href="#" id="multiInstruments">Multi-instrument</a>
    </div>
</div>
</div>
<br>
</div>
</div>
