<div class="text-center">
    <button class="btn btn-lg btn-info btn-custom" type="button" id="play" onclick="play()">Play a random note in an octave</button>
</div>
<p></p>
<div class="text-center">
    <button class="btn btn-outline-info btn-outline-custom" type="button" id="relative" onclick="playRelativeNote()">Play C</button>
</div>
</br>
</br>
</br>

                <button name="answer" value="1" class="answer btn-info btn-custom">A</button>
                <button name="answer" value="2" class="answer btn-info btn-custom">Bb</button>
                <button name="answer" value="3" class="answer btn-info btn-custom">B</button>
                <button name="answer" value="4" class="answer btn-info btn-custom">C</button>
                <button name="answer" value="5" class="answer btn-info btn-custom">C#</button>
                <button name="answer" value="6" class="answer btn-info btn-custom">D</button>
                <button name="answer" value="7" class="answer btn-info btn-custom">Eb</button>
                <button name="answer" value="8" class="answer btn-info btn-custom">E</button>
                <button name="answer" value="9" class="answer btn-info btn-custom">F</button>
                <button name="answer" value="10" class="answer btn-info btn-custom">F#</button>
                <button name="answer" value="11" class="answer btn-info btn-custom">G</button>
                <button name="answer" value="0" class="answer btn-info btn-custom">G#</button>

<!--
<form name="form1" id="form1" method="post" class="form-signin" >
    <div class="card lead text-left">
        <div class="card-body">
        <div class="row card-text">
            <div class="col-md-3">
                <input type="radio" name="answer" value="0"> G#
            </div>
            <div class="col-md-3">
                <input type="radio" name="answer" value="1"> A
            </div>
            <div class="col-md-3">
                <input type="radio" name="answer" value="2"> Bb
            </div>
            <div class="col-md-3">
                <input type="radio" name="answer" value="3"> B
            </div>
        </div>
        <div class="row card-text">
            <div class="col-md-3">
                <input type="radio" name="answer" value="4"> C
            </div>
            <div class="col-md-3">
                <input type="radio" name="answer" value="5"> C#
            </div>
            <div class="col-md-3">
                <input type="radio" name="answer" value="6"> D
            </div>
            <div class="col-md-3">
                <input type="radio" name="answer" value="7"> Eb
            </div>
        </div>
        <div class="row card-text">
            <div class="col-md-3">
                <input type="radio" name="answer" value="8"> E
            </div>
            <div class="col-md-3">
                <input type="radio" name="answer" value="9"> F
            </div>
            <div class="col-md-3">
                <input type="radio" name="answer" value="10"> F#
            </div>
            <div class="col-md-3">
                <input type="radio" name="answer" value="11"> G
            </div>
        </div>
        </div>
    </div>
    </br>
    <div class="container text-center">
    <button type="submit" class="btn btn-lg btn-info btn-custom">Go</button>
    </div>
  </form>
  -->
    <input id="correctAnswer" type="hidden" name="correctAnswer" class="correctAnswer" />
<br><br><br>
<div class="row">
    <div class="col-md-12 text-center lead">
<div id="form-messages"></div>
</div>
</div>
