
<div class="narrow-page">
<table class="table">
    <tr>
        <td>
        <a href="/pitch" role="button" class="btn btn-default">Pitch</a>
        </td>
    </tr>
    <tr>
        <td>
        <a href="/interval" role="button" class="btn btn-default">Interval</a> 
        </td>
    </tr>
    <tr>
        <td>
        <a href="/chord" role="button" class="btn btn-default">Chord</a>  
        </td>      
    </tr>
</table>
</div>