<div class="narrow-page">
    {{!-- <a href="/pitch" role="button" class="btn btn-lg btn-info btn-custom" style="width: 30%; display: block; text-align: center;">Pitch</a>
    <a href="/interval" role="button" class="btn btn-lg btn-info btn-custom" style="width: 30%; display: block; text-align: center;">Interval</a>
    <a href="/chord" role="button" class="btn btn-lg btn-info btn-custom" style="width: 30%; display: block; text-align: center;">Chord</a>
 --}}
    
    <table class="table" style="width: 100%; text-align: center;">
        <tr>
            <td>
                <a href="/pitch" role="button" class="btn btn-lg btn-info btn-custom" style="width: 30%">Pitch</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/interval" role="button" class="btn btn-lg btn-info btn-custom" style="width: 30%">Interval</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/chord" role="button" class="btn btn-lg btn-info btn-custom" style="width: 30%">Chord</a>
            </td>
        </tr>
    </table>
</div>