<h1 style="margin-bottom: 2em">Hello, {{session.user.userName}}!</h1>
<p>Your current hit rate is {{session.user.percentage}}%. </p>
<p>The last time you logged in was {{session.user.loginHistory.[0].dateTime}}.</p>
<p>Keep on practicing every day and see how your scores rise up!</p>