<h1 style="margin-bottom: 2em">Hello, {{session.user.userName}}!</h1>
{{!-- <p>The last time you logged in was {{session.user.loginHistory.[0].dateTime}}.</p> --}}
<p>Keep on practicing and see how your scores rise up!</p>

<table class="table">
    <tr>
        <td>Pitch hit rate: </td>
        <td>{{session.user.pitchScore}}%</td>
    </tr>
    <tr>
        <td>Interval hit rate: </td>
        <td>{{session.user.intervalScore}}%</td>
    </tr>
</table>