<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome to Ear Tuner</h2>
            {{#if errorMessage}}
                <div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div>
            {{/if}}
            {{#if successMessage}}
            <div class="alert alert-success"> <strong>Success:</strong> {{successMessage}}</div><a class="btn btn-info btn-custom" href="/login">&nbsp;&nbsp;&nbsp;Proceed to Log in&nbsp;&nbsp;&nbsp;</a><br /><br /><br />
            {{/if}}
            <hr />
            {{#unless successMessage}}
{{!--             <form method="post">
 --}}
            <form method="post" onsubmit="return formValidation();" action="/register">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control" id="userName" name="userName" type="text" placeholder="User Name" required value="" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control" id="password" name="password" type="password" placeholder="Password" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control" id="password2" name="password2" type="password" placeholder="Confirm Password" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control" id="email" name="email" type="email" placeholder="Email Address" required />
                        </div>
                    </div>
                </div>
                <input type="submit" name="submit" class="btn btn-info btn-custom"  />
{{!--                                 <input type="submit" name="submit" class="btn btn-info btn-custom" value="Register" />
 --}}            </form>
            <div id="errorMsg"></div>
            {{/unless}}
        </div>
    </div>
</div>
