<div class="jumbotron" id="test">
<div id="mainContent">
<p>The test consists of three parts: pitch, interval and chords. Each containing 10 questions.</p>
<p>You will receive a score at the end of each session and a total score at the end of the test.</p>
<a class="btn btn-secondary" type="button" id="beginTest" href="/testPitch">
        Begin Test
</a>
</div>
</div>
