

.narrow-page {
    width: 50%;
    margin: auto;
}

body {
    background-color: rgb(244, 247, 246) !important
}
footer {
    text-align: center;
    font-size: smaller;
}
.navbar-custom {
    background-color: rgb(87, 197, 183)!important 

}

@media only screen and (max-width: 414px) {
    .btn {
        margin-bottom: 4px;
    }
    .footer {
        line-height: 20px;
    }
}

.btn-custom {
    background-color: rgb(87, 197, 183)!important;
    border-color: rgb(87, 197, 183)!important;
}

.btn-custom:hover {
    background-color: rgb(63, 150, 138)!important;
    border-color: rgb(63, 150, 138)!important;
}

.btn-outline-custom {
    border-color: rgb(87, 197, 183)!important;
    color:rgb(87, 197, 183)!important;
    background-color: transparent;
}

.btn-outline-custom:hover {
    background-color: rgb(63, 150, 138)!important;
    border-color: rgb(63, 150, 138)!important; 
}
/*
.pitch {
    border-radius: 5px;
    width: 35px !important;
}
*/
.no-underline {
    text-decoration: none;
    color: rgb(107, 117, 124);
}

.dropdown-menu {
    background-color: rgb(244, 247, 246);
}



.starter-template {
    padding-top: 0px;
}

